nav {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.header li {
    list-style: none;

}

.header a {
    text-decoration: none;
    color: var(--black);
}

.header ul {
    background-color: var(--light-mode-blue);
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 500px;
    gap: 0.5rem;
}

.logo_link {
    background-color: var(--light-mode-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_right {
    display: flex;
}

.header ul.hidden li {
    display: none;
}