.main {
    --background: var(--white);
}

[data-theme='dark'] .main {
    --background: var(--dark-mode-bg);
}

/* Hero */
.hero {
    height: 100vh;
    background: url('/assets/light-hero.png'), var(--light-mode-gradient);
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

[data-theme='dark'] .hero {
    background: url('/assets/dark-hero.png'), var(--dark-mode-gradient);
    background-size: cover;
}

.hero_content {
    max-width: var(--desktop-max-w);

    height: 100%;
    padding: 15vh var(--mobile-margin);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.75rem;
}


.hero::after {
    /* Adapted from : https://codepen.io/ongtiffany/pen/rOwryp */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: " ";
    background:
        radial-gradient(circle at 50%, var(--background) 45%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 50%);
    background-size: 3rem 6rem;
    height: 3rem;
    background-repeat: repeat-x;
}

.hero * {
    margin: 0;
}

.hero h1 {
    font-size: 4rem;
    max-width: 12.5rem;
    position: relative;
    line-height: 3.5rem;
}

[data-theme='dark'] .hero h1 {
    color: var(--white);
}

.hero h1::after {
    content: '';
    background-image: url('/assets/star-asset-4pt-white.svg');
    position: absolute;
    background-size: cover;
    width: 40px;
    height: 40px;
    bottom: 5px;
}

[data-theme='dark'] .hero h1::after {
    background-image: url('/assets/star-asset-4pt-yellow.svg');
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.hero_links {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.down_arrow {
    background: transparent;
    border: none;
    width: 80px;
    margin: 1rem auto;
    cursor: pointer;
}

.down_arrow svg {
    width: 75px;
}

.down_arrow:focus path,
.down_arrow:active path {
    stroke-width: 1.5px;
}

.down_arrow:focus path,
.down_arrow:active path {
    stroke: var(--black);
}

[data-theme='dark'] .down_arrow:focus path,
[data-theme='dark'] .down_arrow:active path {
    stroke: var(--white);
}

[data-theme='dark'] .down_arrow path {
    fill: var(--dark-mode-yellow);
}

@media (min-width: 45em) {
    .hero {
        height: 40rem;
    }

    .hero_content {
        padding: 2rem;
    }

    .hero h1 {
        font-size: 7.5rem;
        line-height: 7rem;
        max-width: 500px;
    }

    .hero h1::after {
        width: 60px;
        height: 60px;
        bottom: 20px;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .hero .title {
        font-size: 1.5rem;
    }
}

/* About */

.me_svg {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.about_me {
    padding: var(--mobile-vertical-space) var(--mobile-margin);
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.about_top,
.about_div {
    width: 100%;
    max-width: 600px;
}

.about_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--mobile-margin);
}


.about_div,
.info_card {
    background-color: var(--light-mode-blue);
    border: solid 1.5px var(--black);
}

[data-theme='dark'] .about_div,
[data-theme='dark'] .info_card {
    background-color: var(--dark-mode-purple);
}

.info_card_container {
    justify-self: end;
}

.info_card {
    margin: var(--mobile-margin) 0;
    border-radius: 500px;
    display: flex;
    align-items: center;
    max-width: 9.25rem;
    gap: 0.5rem;
    padding: 0.5rem;
}

.info_card svg {
    height: 20px;
    width: auto;
}

.info_card path {
    fill: var(--black);
}

[data-theme='dark'] .info_card path {
    fill: var(--dark-mode-yellow);
}

.about_div {
    padding: 1rem;
    border-radius: var(--rounded-border);
}

.about_me p {
    margin: 0;
}

.about_me h2 {
    font-size: var(--xl-text);
    margin: 0.5rem;
    align-self: end;
}

@media (min-width: 45em) {
    .about {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: var(--desktop-vertical-space) 0;
    }

    .about_me {
        margin: 0;
    }

    .me_svg {
        margin: 0 1rem;
    }

    .info_card_container {
        display: flex;
        gap: 1rem;
    }

    .info_card {
        border-radius: var(--rounded-border);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120px;
    }

    .info_card svg {
        height: 30px;

    }


    .info_card p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

/* Featured Projects */
.featured_projects {
    padding: var(--mobile-vertical-space) var(--mobile-margin);
}

.featured_projects h2 {
    font-size: var(--lg-text);
    margin: 0;
}

.featured_heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
}

.project_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--mobile-margin);
    padding: var(--mobile-vertical-space) 0;
}

.project_card {
    background: var(--light-mode-blue);
    border: solid 1.5px var(--black);
    border-radius: var(--rounded-border);
    overflow: hidden;
    max-width: 18.125rem;
}

[data-theme='dark'] .project_card {
    background: var(--dark-mode-purple);
    border: solid 1.5px var(--white);
}

.project_fig {
    width: 100%;
    margin: 0px;
    max-height: 350px;
    overflow: hidden;
}

.project_fig img,
.project_media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--mobile-margin);
    gap: 0.25rem;
    position: relative;
}

.card_content::before {
    /* Adapted from : https://codepen.io/ongtiffany/pen/rOwryp */
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    content: " ";
    background:
        radial-gradient(circle at 50%, var(--light-mode-blue) 45%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 50%);
    background-size: 3rem 7rem;
    height: 3rem;
    background-repeat: repeat-x;
}

[data-theme='dark'] .card_content::before {
    background:
        radial-gradient(circle at 50%, var(--dark-mode-purple) 45%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 50%);
    background-size: 3rem 7rem;
    background-repeat: repeat-x;
}

.card_content h3 {
    font-size: 2rem;
}


.card_content * {
    margin: 0;
    text-align: center;
}

.card_content ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    justify-content: center;
    gap: 0.25rem;
}

.card_content li {
    list-style: none;
}

.proj_tagline {
    margin: 0.75rem var(--mobile-margin);
}

@media (min-width:45em) {
    .featured_projects {
        max-width: var(--desktop-max-w);
        margin: 0 auto;
    }

    .project_container {
        flex-wrap: nowrap;
    }

    .project_card,
    [data-theme='dark'] .project_card {
        border: none;
        background: none;
        border-radius: 0;
        display: flex;

        max-width: none;
        align-items: center;
    }

    .project_card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .card_content::before,
    [data-theme='dark'] .card_content::before {
        background: none;
    }

    .card_content {
        max-width: 400px;
    }

    .project_fig {
        width: auto;
        height: auto;
        max-height: none;
    }

    .project_fig img,
    .project_media {
        width: 400px;
        height: auto;
        border: 1.5px solid var(--black);
        border-radius: 20px;
    }

    .card_content h3 {
        font-size: 3rem;
    }


}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
    .hero h1:hover::after {
        animation: spin 2s;
    }

    .down_arrow svg {
        animation: bob 2s infinite ease-in-out;
    }

    @keyframes bob {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(7px);
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

    }


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

    }
}