.main {
    --background: var(--white);
}

[data-theme='dark'] .main {
    --background: var(--dark-mode-bg);
}

/* Hero */
.hero {
    height: 100vh;
    background: url('/assets/light-hero.png'), var(--light-mode-gradient);
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

[data-theme='dark'] .hero {
    background: url('/assets/dark-hero.png'), var(--dark-mode-gradient);
    background-size: cover;
}

.hero_content {
    max-width: var(--desktop-max-w);

    height: 100%;
    padding: 15vh var(--mobile-margin);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.75rem;
}


.hero::after {
    /* Adapted from : https://codepen.io/ongtiffany/pen/rOwryp */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: " ";
    background:
        radial-gradient(circle at 50%, var(--background) 45%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 50%);
    background-size: 3rem 6rem;
    height: 3rem;
    background-repeat: repeat-x;
}

.hero * {
    margin: 0;
}

.hero h1 {
    font-size: 4rem;
    max-width: 12.5rem;
    position: relative;
    line-height: 3.5rem;
}

[data-theme='dark'] .hero h1 {
    color: var(--white);
}

.hero h1::after {
    content: '';
    background-image: url('/assets/star-asset-4pt-white.svg');
    position: absolute;
    background-size: cover;
    width: 40px;
    height: 40px;
    bottom: 5px;
}

[data-theme='dark'] .hero h1::after {
    background-image: url('/assets/star-asset-4pt-yellow.svg');
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.hero_links {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.down_arrow {
    background: transparent;
    border: none;
    width: 80px;
    margin: 1rem auto;
    cursor: pointer;
}

.down_arrow svg {
    width: 75px;
}

.down_arrow:focus path,
.down_arrow:active path {
    stroke-width: 1.5px;
}

.down_arrow:focus path,
.down_arrow:active path {
    stroke: var(--black);
}

[data-theme='dark'] .down_arrow:focus path,
[data-theme='dark'] .down_arrow:active path {
    stroke: var(--white);
}

[data-theme='dark'] .down_arrow path {
    fill: var(--dark-mode-yellow);
}

@media (min-width: 45em) {
    .hero {
        height: 40rem;
    }

    .hero_content {
        padding: 2rem;
    }

    .hero h1 {
        font-size: 7.5rem;
        line-height: 7rem;
        max-width: 500px;
    }

    .hero h1::after {
        width: 60px;
        height: 60px;
        bottom: 20px;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .hero .title {
        font-size: 1.5rem;
    }
}


/* About */
.about_me {
    margin: var(--mobile-vertical-space) var(--mobile-margin);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about_top,
.about_div {
    width: 100%;
    max-width: 600px;
}

.about_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--mobile-margin);
}


.about_div,
.info_card {
    background-color: var(--light-mode-blue);
    border: solid 1px var(--black);
}

[data-theme='dark'] .about_div,
[data-theme='dark'] .info_card {
    background-color: var(--dark-mode-purple);
}

.info_card_container {
    justify-self: end;
}

.info_card {
    margin: var(--mobile-margin) 0;
    border-radius: 500px;
    display: flex;
    align-items: center;
    max-width: 9.25rem;
    gap: 0.5rem;
    padding: 0.5rem;
}

.info_card svg {
    height: 20px;
    width: auto;
}

.info_card path {
    fill: var(--black);
}

[data-theme='dark'] .info_card path {
    fill: var(--dark-mode-yellow);
}

.about_div {
    padding: 1rem;
    border-radius: 20px;
}

.about_me p {
    margin: 0;
}

.about_me h2 {
    font-size: clamp(2.5rem, 12vw, 5rem);
    margin: 0.5rem;
    align-self: end;
}


/* Animations */
@media (prefers-reduced-motion: no-preference) {
    .hero h1:hover::after {
        animation: spin 2s;
    }

    .down_arrow svg {
        animation: bob 2s infinite ease-in-out;
    }

    @keyframes bob {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(7px);
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

    }


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

    }
}