.main {
    padding: var(--mobile-margin);
    padding-top: var(--mobile-top-padding);
    max-width: 1000px;
    margin: 0 auto;

    --main-color: var(--light-mode-blue);
    --accent-color: var(--light-mode-pink);
    --border-color: var(--black);
    --round-gradient: radial-gradient(circle, rgba(254, 166, 239, 1) 0%, rgba(254, 166, 239, 0) 75%);
}

[data-theme='dark'] .main {
    --main-color: var(--dark-mode-purple);
    --accent-color: var(--dark-mode-yellow);
    --border-color: var(--white);
    --round-gradient: radial-gradient(circle, rgba(76, 48, 161, 1) 0%, rgba(76, 48, 161, 0) 75%);
}

.main>*,
.info>* {
    margin: 1rem 0;
}

.main h1 {
    font-size: var(--xl-text);
    text-decoration: underline wavy var(--main-color);
    margin-top: 0;
}

.main h2 {
    margin: 0.5rem 0;
    font-size: var(--md-text);

}

.main h3 {
    font-family: "Bai Jamjuree", sans-serif;
    margin: 0.5rem 0;
}

.chips,
.button_container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--chip-gap);

}

.button_container {
    gap: 0.5rem;
}

.project_figure {
    max-height: 300px;
    max-width: 500px;
    margin: 0 auto;
    width: fit-content;
    border: solid 1.5px var(--black);
    overflow: hidden;
    border-radius: var(--rounded-border);
}

.project_figure * {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 45em) {
    .main {
        padding-top: var(--desktop-top-padding);
        position: relative;
    }


    .main::before {
        content: "";
        background-image: url("/assets/vertical-thorns-light.svg");
        height: 100%;
        width: 75px;
        background-repeat: repeat-y;
        background-size: contain;
        position: absolute;
        top: -10px;
        left: -100px;
    }

    [data-theme='dark'] .main::before {
        background-image: url("/assets/vertical-thorns-dark.svg");
    }

    .tabs_section {
        margin: 2rem 0;
    }

    .page_top {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 1rem;
    }

    .project_figure {
        width: auto;
        height: fit-content;
        max-height: none;
        max-width: none;
        margin: 0;
        justify-self: end;
    }


    .project_figure * {
        height: auto;
    }

    .main h2 {
        margin: 1.5rem 0;
    }


}


/* Tabs */

.tablist {
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    flex-wrap: nowrap;
}

.tablist button {
    width: fit-content;
    background: none;
    border-radius: var(--rounded-border) var(--rounded-border) 0 0;
    border: solid 1.5px var(--border-color);
    border-bottom: none;
    font-size: clamp(0.875rem, 1.4vw, 1rem);
    padding: 0.2rem 0.75rem;
    color: var(--border-color);
}

.tablist button.current,
.tablist button:focus,
.tablist button:active {
    background: var(--light-mode-pink);
}

[data-theme='dark'] .tablist button.current,
[data-theme='dark'] .tablist button:focus,
[data-theme='dark'] .tablist button:active {
    background: var(--dark-mode-purple);
}


.tablist button:not(.current):hover {
    background: var(--round-gradient);
    background-size: 150px 150px;
    background-repeat: no-repeat;


}

.tablist button:focus,
.tablist button:active {
    font-weight: 600;
}

.tabs_content {
    border: solid 1.5px var(--border-color);
    border-radius: 0 0 var(--rounded-border) var(--rounded-border);
    padding: var(--mobile-margin);
    background: var(--round-gradient);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: right -150px top -150px;
}

@media (min-width: 45em) {
    .tablist button {
        font-size: 1.15rem;
        padding: 0.5rem 1rem;
    }

    .tabs_content {
        background: var(--round-gradient), var(--round-gradient);
        background-size: 500px 500px;
        background-repeat: no-repeat, no-repeat;
        background-position: right -250px top -250px, left -250px bottom -250px;
        padding: 2rem 3rem;
    }

    .tabs_content h3 {
        font-size: 1.5rem;
    }

}


/* More project cards */

.projects_section h2 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.75rem;
    text-align: center;

}

.project_container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;

    gap: 1rem;
}

.project_card {
    border: 1.5px var(--black) solid;
    width: 225px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    flex: 0 0 auto;
    position: relative;
}


.project_fig {
    width: 100%;
    margin: 0px;

    overflow: hidden;
}

.project_fig * {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top;

}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    align-items: center;
    gap: 0.25rem;
    margin: 0.5rem;
}

.card_content>* {
    margin: 0;
    text-align: center;
}

.card_content ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_content h3 {
    margin-bottom: auto;
}

.card_content a {
    margin-top: auto;
}



@media (min-width: 45em) {
    .projects_section {
        padding: 2rem 0;
    }

    .projects_section h2 {
        margin: 1rem 0;
    }

    .project_container {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        overflow-x: unset;
        margin: 0 auto;

        gap: 1rem;
    }

}