/*## Base ##*/
:root {
    --white: #fff;
    --black: #101010;

    /* Dark Mode */
    --dark-mode-gradient: linear-gradient(180deg, #000B32 0%, #4C30A1 80%);
    --dark-mode-bg: #000B32;
    --dark-mode-purple: #4C30A1;
    --dark-mode-yellow: #E9FF5C;

    /* Light Mode */
    --light-mode-pink: #FEA6EF;
    --light-mode-blue: #ABBDFF;
    --light-mode-gradient: linear-gradient(180deg, #AABDFF 0%, #FEA6EF 80%);

    /* General */
    --mobile-margin: 0.5rem;
    --mobile-vertical-space: 1.5rem;
    --desktop-max-w: 75rem;
    --desktop-vertical-space: 3rem;
    --xl-text: clamp(2.5rem, 12vw, 5rem);
    --lg-text: clamp(2.5rem, 10vw, 4rem);
    --rounded-border: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

::selection {
    background-color: var(--light-mode-pink);
}

[data-theme='dark'] ::selection {
    background-color: var(--dark-mode-purple);
}


html {
    scrollbar-width: thin;
}


body {
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--black);
    background-color: var(--white);
}

[data-theme='dark'] body {
    color: var(--white);
    background-color: var(--dark-mode-bg);
}

@media (min-width: 45em) {
    p {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pirata One", system-ui;
}

[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5,
[data-theme='dark'] h6 {
    color: var(--dark-mode-yellow);
}

/* Divider */
.divider {
    width: 90%;
    height: 1.5px;
    background-color: var(--light-mode-blue);
    margin: 0 auto;
}

[data-theme='dark'] .divider {
    background-color: var(--dark-mode-purple);
}

/* Buttons */
.button-link {
    border: 1.5px solid var(--black);
    text-decoration: none;
    border-radius: 500px;
    width: fit-content;
    height: fit-content;
    flex: none;
    color: var(--black);
    padding: 0.5rem 1rem;
    display: block;
    margin: 0.5rem 0;
}

.button-link:focus,
.button-link:active {
    font-weight: 600;
    box-shadow: 2px 2px 0px 2px var(--black), 0px 5px 15px 0px rgba(255, 255, 255, 0.2), 0px -5px 15px 0px rgba(255, 255, 255, 0.2);
}

.button-link.plain {
    background-color: var(--white);
}

.button-link.plain:hover {
    background-color: var(--light-mode-blue);
}


.button-link.color {
    background-color: var(--light-mode-pink);
}

.button-link.color:hover {
    background-color: var(--white);
}


[data-theme='dark'] .button-link.color {
    background-color: var(--dark-mode-yellow);
}

[data-theme='dark'] .button-link.plain:hover {
    background-color: var(--dark-mode-yellow);
}

[data-theme='dark'] .button-link.color:hover {
    background-color: var(--white);
}

@media (min-width: 45em) {
    .button-link {
        font-size: 1.2rem;
        padding: 0.5rem 1.5rem;
    }
}

/* Github Link */
.github-link:focus path,
.github-link:active path {
    stroke-width: 2px;
}

.github-link:focus svg,
.github-link:active svg {
    filter:
        drop-shadow(2px 2px 0px var(--black)) drop-shadow(0px 5px 15px rgba(255, 255, 255, 0.2)) drop-shadow(0px -5px 15px rgba(255, 255, 255, 0.2));

}

.github-link.plain path {
    fill: var(--white);
}

.github-link.plain:hover path {
    fill: var(--light-mode-blue);
}

.github-link.color path {
    fill: var(--light-mode-pink);
}

.github-link.color:hover path {
    fill: var(--white);
}

[data-theme='dark'] .github-link.plain path {
    fill: var(--dark-mode-purple);
}

[data-theme='dark'] .github-link.plain:hover path {
    fill: var(--dark-mode-yellow);
}

[data-theme='dark'] .github-link.color path {
    fill: var(--dark-mode-yellow);
}

[data-theme='dark'] .github-link.color:hover path {
    fill: var(--white);
}

/* Tech chips */

.tech-chip {
    list-style: none;
    padding: 0.25rem 0.5rem;
    background-color: var(--light-mode-pink);
    border: 1.5px var(--white) solid;
    border-radius: 500px;
}

[data-theme='dark'] .tech-chip {
    border-color: var(--black);
    color: var(--black);
    background-color: var(--dark-mode-yellow);
}

/* Error page */

.error-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}